<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # rules -> rules.php
    RewriteRule ^rules/?$ rules.php [L,NC]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    RewriteCond %{QUERY_STRING} CURRENT=0 [NC]
    RewriteRule ^ - [F,L]
</IfModule>