/node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor/
/.env
/.env.*
/.DS_Store
/.idea/
/.vscode/
/.phpunit.result.cache
npm-debug.log*
yarn-error.log*

# Laravel storage: keep folders, ignore contents
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/debugbar/*
/storage/medialibrary/temp/*
/storage/tmp/*
